
<!-- nav -->
<app-loader></app-loader>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="usrService.userObs | async">
  <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
  <div *ngIf="currentUrl != '/list-of-tests' && previousUrl" class="navbar-nav">
    <a class="nav-item nav-link btn-outline-primary" [routerLink]="previousUrl">Back</a>
  </div>
  <div *ngIf="currentUrl != '/list-of-tests'" class="navbar-nav">
    <a class="nav-item nav-link btn-outline-primary" [routerLink]="'/list-of-tests'">Tests</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container-fluid">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
